<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @picture.menu_id %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @picture.filename %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
