<p id="notice"><%= notice %></p>

<%= form_tag places_path, :method=> 'get' do %> 
	학교:<%= select_tag "school", options_for_select(["","낙생고","불곡고", "분당고", "수지고" ]) %>
    지하철역:<%= select_tag "station", options_for_select(["","정자역","미금역", "수내역", "서현역", "오리역", "죽전역" ]) %>
		<%= submit_tag "Search",:name=>nil %>
<% end %>
</br>
<% @places.each do |place| %>
  <button type="button" class="btn btn-warning"><%= place.name %></button>
  <div class="row">
  <% place.menus.each do |menu| %>
 	<div class="col-xs-4">
      <p><a href="<%=menu_path(menu) %>"><img src='<%= menu.pictures.first.picture_path %>'</image></a></p>
 	</div>
  <% end %>
</div>
<% end %>
<br>
<%= paginate @places %>
