<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Station:</strong>
  <%= @place.station %>
</p>

<p>
  <strong>School:</strong>
  <%= @place.school %>
</p>

<p>
  <strong>Library:</strong>
  <%= @place.library %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
